/* board.css */

#board {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#morgue .frag {
  float:left;
  display:flex;
  margin-bottom:1em;
}

#doodle { 
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cell {
  /* Row cells are horizontally adjacent */
  display:inline-block;
  margin:0;
  padding:0;
  margin-right: 0.5em;
}

.row {
  /* HACK: Gets rid of that pesky vertical row spacing */
  margin:0;
  padding:0;
}
