/* page.css */

body {
	font-family: 'arial', sans-serif;
	color: #fff;
	background-color: #000;
}

body > * {
    animation: fadeIn 2s;
}


@media only screen and (min-width: 50em) {
    #page {
        margin-top: 5rem;
    }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


#page {
    max-width: 25em;

    padding: 1rem;
    left: 0;
    right: 0;

    margin-left: auto; 
    margin-right: auto; 
}

#name {
    margin-bottom: 0em;
}

#alias {
    display: block;
    margin-bottom: 1em; 
}

.header-group {
    padding-top: 0.5em;
}

.header-group > h1,h2,h3 {
    display: inline;
    color: #666;
    cursor: pointer;
    padding-right: 0.1em;
}

.header-group > h1:hover, h2:hover, h3:hover {
    color: #aaa;
}

.header-group > .selected {
    color: #fff;
}

a {
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
}

.subcost { 
    display: block;
    color: #ccc;
}

.offering {
    outline: 1px solid white; 
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
}

.offering:hover {
    outline: 2px solid #00aaff; 
    background-color: #00aaff22;
}

.offering:active {
    outline: 2px solid #00aaff; 
    background-color: #00aaff88;
}

d-a {
  display:inline;
	color: #428BCA;
  text-decoration:underline;
}

d-a:hover {
  cursor:pointer;
}

.sep {
  color: #A1A1A1;
  display:inline;
}

.pop {
	box-shadow:
		0em 0.125em 0em 0em rgba(255, 255, 255, 0.1) inset, /* top shine */
		0em -0.25em 0em 0em rgba(0, 0, 0, 0.1) inset; /* bottom shadow */ 

	border-radius: 1em; /* TODO: Maybe toggle this */ 
}

.pop:hover {
	box-shadow:
		0em 0.5em 0.5em 0em rgba(255, 255, 255, 0.15) inset, /* light */
		0em -0.25em 0em 0em rgba(0, 0, 0, 0.1) inset, /* bottom shadow */ 
		0em 0.25em 0.5em 0em rgba(0, 0, 0, 0.25); /* backdrop */

  cursor:pointer;
}

.pop:active {
	box-shadow:
		0em 1em 0em 0em rgba(0, 0, 0, 0.15) inset,
		0em 0.35em 0em 0em rgba(0, 0, 0, 0.25) inset;
}

#page {
  position:absolute;
}

.frag { }
