/* style.css */

.cell {
  /* Row cells are horizontally adjacent */
  display:inline-block;
  float:left;

  border:0.1em solid white;
  background-color:orange;

  width:3em;
  height:3em;
}

.row {
}
