/* title.css */

#title {	
	margin-top:3em;

	position:relative;
}

#title #landscape {
	float:bottom;
	position:absolute;
	z-index:-1;
}

#title table {}

#title #intro {
  font-size:1em;

  padding:0em;
  margin:0em;
}

#title h1 {
  font-size:4em;
  font-weight:normal;

  padding:0em;
  margin:0em;
}

#title #subtitle {
	display:inline;
	font-size:1.25em;	
  color:#A1A1A1;
}

#title #handle {
	color:#428BCA;

	margin-bottom:0.5em;
	display:inline;
}

#title #mugshot {
	float:right;
}
